.hero-image {
    background-image: linear-gradient(rgba(254, 254, 254, 0.5), rgba(59, 59, 59, 0.5)), url("../img/dragonflydoor50op.jpg");
    height:900px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  
  .hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #D9AC59;
    text-shadow: 2px 2px 5px rgb(69, 69, 69);
  }
  
  .hero-text button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 10px 25px;
    color: #4E9FBF;
    background-color: #D7D9D9;
    text-align: center;
    cursor: pointer;
  }
  
  .hero-text button:hover {
    background-color: #4E9FBF;
    color: #A6444C;
  }

  .yellow {
    color:#D9AC59;
  }

  .lyellow {
    color:#D9B54A;
  }

  .maroon {
    color:#A6444C
  }

  .blued {
    color:#4E9FBF
  }

  .offwhite {
    color: #D7D9D9
  }

  .nav-link {
    color: #D7D9D9 !important;
    font-weight: bold;
  }

  .parallax {
    /* The image used */
    background-image: url("../img/chefian50.jpg");
  
    /* Set a specific height */
    min-height: 1000px; 
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  
font-family:sans-serif
* {box-sizing: border-box;}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: rebeccapurple;
  color: cyan;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: cyan;
}

.container-1 {
  border-radius: 5px;
  background-color: #6d6d6d;
 padding: 20px;
}